
<form class="form-style" action="/auth/signup" method="POST">
   <div class="signup-box">
      <h1>Signup</h1>

      <div class="textbox">
         <input type="text" name="firstname" placeholder="Type your first name" value="{{firstname}}">
      </div>

      <div class="textbox">
      <input type="text" name="lastname" placeholder="Type your last name" value="{{lastname}}">
      </div>

      <div class="textbox">
      <input type="text" name="username" placeholder="Choose a user name" value="{{username}}">
      </div>

      <div class="textbox">
      <input type="email" name="email" placeholder="Type your email" value="{{email}}">
      </div>

      <div class="textbox">
      <input type="password" name="password" placeholder="Create your password">
      </div>



      <button class="signup-btn" type="submit">Submit</button>
   </div>
</form>

{{#if errorMessage}}
  <p style="color:red">{{errorMessage}}</p>
{{/if}}