<form class="form-style" action="/post/{{post._id}}/edit" method="POST" enctype="multipart/form-data">
  
  <div class="editpost-box">
    
    <div>
    <h1>Edit your post</h1>

    <div class="editpost-textbox">
    <label>Start vacation
      <input type="date" name="startVacation" value="{{post.startVacation}}" />
    </label>
    </div>
    
    <div class="editpost-textbox">
    <label>End vacation
      <input type="date" name="endVacation" value="{{post.endVacation}}" />
    </label>
    </div>

    <div class="editpost-textbox">
    <label>Title
      <input type="text" name="title" value="{{post.title}}" />
    </label>
    </div>
    </div>

    <div>
    <div class="editpost-textbox">
    <label>Image
      <input type="file" name="image" />
    </label>
    </div>

  
    <div class="editpost-textbox">
    <label>Text of your post:
    <textarea id="text" name="text" cols="50" rows="10" >{{post.text}}</textarea>    
    </label>
    </div>
    </div>

    <button class="editpost-btn" type="submit">Edit</button>
    
  
  </div>
</form>